<div class="content">
  <h1>Mondays suck.</h1>
  <%= image_tag('guru.png') %>
  <h2>So let the Monday Pick Me Up Guru brighten them up for you.</h2>
  <br>
  <div id="user-nav">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", scope: "likes, interests" %>
    <% end %>    
  </div>
</div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>